<div class="grid-container" style="padding: 10px" #contentToConvert>
  <div style="display:flex;justify-content: space-between">
    <h2>Dashboard</h2>
    <button mat-stroked-button (click)="convetToPDF()" class="dontPrint">
          <mat-icon>print</mat-icon>
          Print
        </button>
  </div>
  <div style="display:flex;flex-wrap: wrap">
  @if (activities.length > 0){
    <app-all-activities [activities]="activities" style="flex: 1 1 100%;"></app-all-activities>
    <app-reppeted-action [stats]="dataService.statistics.actionsRepetition" style="flex: 1 1 50%;"></app-reppeted-action>
    <app-rush-hours [stats]="dataService.statistics.actionsByTime" style="flex: 1 1 50%; margin: auto"></app-rush-hours>
    <app-reppeted-action-type [stats]="dataService.statistics.actionsByType" style="flex: 1 1 100%;"></app-reppeted-action-type>
  }
  </div>
</div>
